@using EmployeeManagementSys.DAL.Data.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject EmployeeManagementSys.Services.Services.ISharedService SharedService 
<ul class="navbar-nav flex-grow-1">

    @if (SignInManager.IsSignedIn(User) && User.Identity.Name == "Admin@gmail.com")
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li>
        @*<li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="Index">Employees</a>
            </li>*@
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="EmployeeAdvns" asp-action="Index">Employee</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="EmpFamilyDetAdvns" asp-action="Index">EmployeeFamliyDetails</a>
        </li>

    }
    else if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="EmpDet" asp-action="Index">MyDetails</a>
        </li>
    }

</ul>
